<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/am_episode.css"/>
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--    폰트-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<%- include('header.ejs')%>
<%- include('my_bak.ejs') %>























    <div class="novel-wrap">
        <div class="novel-box">
            <div class="novel-item">
                <img src="/img/10<%=epi[1][0]%>.png" alt="Novel Image">
                <div class="novel-info">
                    <div class="novel-title">웹소설 제목: <%=epi[0][2]%></div>
                    <div class="novel-author">작가 필명: <%=epi[0][4]%></div>
                    <div class="novel-author">장르: <%=epi[0][5]%></div>
                </div>
                <div class="sort-buttons">
                    <button id="latest-sort">최신순 정렬</button>
                    <button id="sequential-sort">1화부터 정렬</button>
                </div>
            </div>

            <div class="episode-box">
                <ul class="list_type2">

                    <%  for( let i =0; i<epi.length; i++ ){ %>
                    <li id="volume45" class="volumeComment" value="45">
                        <a href="/am_view" class="list_item">
                            <div class="pic">
                                <img src="img/102.png" alt="이미지">
                            </div>
                            <div class="list_info">
                                <p class="subj"><%=epi[i][1]%></p>
                                <span class="pen_name"><%=epi[i][4]%></span>
                                <p class="rating">

                                    <span class="count">댓글 </span>
                                    <span id="detailComment">6</span>

                                    <span class="date">2024.02.27</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <%   }   %>





                </ul>




            </div>

            <div class="comment-section">
                <h2>댓글</h2>
                <!-- Example of a comment -->
                <div class="comment">
                    <div class="comment-content">이미 작성된 댓글 내용</div>
                    <div class="comment-actions">
                        <button class="like-button">추천</button>
                        <button class="dislike-button">비추천</button>
                    </div>
                </div>

                <!-- Repeat the above comment block for each comment -->

                <textarea placeholder="댓글을 입력하세요"></textarea>
                <button>댓글 작성</button>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</div>


<script>
    window.onload = function () {

        // 스크롤이 내려가면 네비바가 고정되

        window.addEventListener('scroll', function () {
            var nav = document.querySelector('nav');
            if (window.scrollY > 0) {
                nav.style.position = 'fixed';
                nav.style.top = '0';
                nav.style.width = '100%';
                // console.log('Scrolling!')
                // 스크롤 내리면 변할 모양

                nav.style.backgroundColor = 'rgb(255,255,255)';
                nav.style.borderBottom = '2px solid rgba(0, 0, 0, 0.3)';
                nav.style.borderTop = '2px solid rgba(0, 0, 0, 0.3)';
                nav.style.zIndex = '1000';
            } else {
                nav.style.position = 'static';

                // 다시 돌아오면 원상복구

                nav.style.backgroundColor = ''; // 기존 스타일로 복원하려면 비워둘 수 있습니다.
                // 필요에 따라 추가적인 스타일 속성을 여기에 추가할 수 있습니다.
            }
        });


        /////////////////cont1의 버튼식 슬라이드////////////////////




    }


    // work_menu 버튼 스크립트



</script>
</body>
</html>
