<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="board.css">
</head>
<body>
<h1>게시판</h1>
<table>
    <thead>
    <tr>
        <th>ff</th>
        <th>ff</th>
    </tr>
    </thead>


    <tbody>
    <tr>
        <td><%=writes[0][0]  %> </td>
        <td><%=writes[0][1]  %> </td>

    </tr>
    <tr>
        <td><%=writes[1][0]  %> </td>
        <td><%=writes[1][1]  %> </td>

    </tr>
    <tr>
        <td><%=writes[2][0]  %> </td>
        <td><%=writes[2][1]  %> </td>

    </tr>
    </tbody>

</table>

</body>
</html>